<?xml version="1.0"?>
<config>
    <modules>
        <JJ_Process>
            <version>1.0.4</version>
        </JJ_Process>
    </modules>
    <admin>
        <routers>
            <process>
                <use>admin</use>
                <args>
                    <module>JJ_Process</module>
                    <frontName>process</frontName>
                </args>
            </process>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <process module="process">
                <title>Process</title>
                <sort_order>80</sort_order>
                <children>
                    <process_group>
                        <title>Manage Process Group</title>
                        <sort_order>0</sort_order>
                        <action>process/adminhtml_process_group</action>
                    </process_group>
                    <process>
                        <title>Manage Process</title>
                        <sort_order>0</sort_order>
                        <action>process/adminhtml_process</action>
                    </process>
                    <process_column>
                        <title>Manage Process Column</title>
                        <sort_order>0</sort_order>
                        <action>process/adminhtml_process_column</action>
                    </process_column>
                    <process_entry>
                        <title>Manage Process Entry</title>
                        <sort_order>0</sort_order>
                        <action>process/adminhtml_process_entry</action>
                    </process_entry>
                </children>
            </process>
        </menu>
        <layout>
            <updates>
                <process>
                    <file>process.xml</file>
                </process>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <process>
                <class>JJ_Process_Helper</class>
            </process>
        </helpers>
        <blocks>
            <process>
                <class>JJ_Process_Block</class>
            </process>
        </blocks>
        <models>
            <process>
                <class>JJ_Process_Model</class>
                <resourceModel>process_resource</resourceModel>
            </process>
            <process_resource>
                <class>JJ_Process_Model_Resource</class>
                <entities>
                    <group>
                        <table>process_group</table>
                    </group>
                    <process>
                        <table>process</table>
                    </process>
                    <column>
                        <table>process_column</table>
                    </column>
                    <entry>
                        <table>process_entry</table>
                    </entry>
                </entities>
            </process_resource>
        </models>
        <resources>
            <process_setup>
                <setup>
                    <module>JJ_Process</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </process_setup>
            <process_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </process_write>
            <process_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </process_read>
        </resources>
    </global>
</config>